azure-ai-projects==2.0.0b2
azure-ai-agents
azure-ai-evaluation
azure-identity
python-dotenv==1.0.0
azure-search-documents
azure-core
azure-core-tracing-opentelemetry==1.0.0b12
azure-monitor-opentelemetry==1.6.8
azure-cosmos
azure-monitor-opentelemetry-exporter
numpy
pandas
pyarrow
semantic-kernel[mcp,azure]==1.36.2